<%# <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">
  <div class="container">
    <h2><%= @list.name %></h2>
  </div>
</div>


<div class="container my-3">
  <div class="row gx-2 mb-3">
    <% @list.bookmarks.each do |bookmark| %>
      <div style="height: 400px" class="col-3 text-decoration-none bg-light border border-dark p-3 text-dark">
        <div style="height: 300px">
          <strong>  <h3> <%= bookmark.movie.title %> </h3> </strong>
          <p> <%= bookmark.movie.overview %> </p>
        </div>
        <div class="d-flex justify-content-between align-items-center border-top border-dark">
          <p> <%= bookmark.comment %> </p>
          <p> <%= bookmark.movie.rating %>/10 <i class="fa-solid fa-star"></i> </p>
        </div>
        <div>
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete} do %>
          <div class="text-decoration-none text-secondary"> <i class="fa-solid fa-trash"></i></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div >

  <div class="my-3">
    <h2>Add a new movie to the list</h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.button :submit, class:"btn btn-dark" %>
    <% end %>
  </div>

</div>
